// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header, footer {
    text-align: center;
}

header, footer {
    padding: 50px 0;
}

main {
    width: 50%;
    margin: 0 auto;
    section {
        form {
            margin-bottom: 50px;
        }
    }
}
